<html>
    <head>
        <title>Scrabblerousers!</title>
    </head>
<body>
    <p>
        Player: {{ player }}
        <br />
        Points earned: {{ score }}
        <br />
        Tiles: {{ tiles }}
    </p>

<table>
    <tbody>
        {% for row in board %}
        <tr>
            {% for square in row %}
                <td>
                    {% if square %}
                        {{ square }}
                    {% else %}
                        .
                    {% endif %}
                </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
    <form method = "post" action = "/">
        <input type = "submit" value = "Next" />
    </form>
</body>
</html>
